<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles_alumno.css">
    <title>Catálogo de Libros</title>
</head>
<body>

    <div class="header-container">
        <h1 class="main-title">Catálogo de Libros</h1>
        <button class="logout-button" onclick="logout()">Cerrar sesión</button>
    </div>

    <div class="page-container">
        <div class="container">
            <label for="searchInput" class="search-label">Buscador de libros:</label>
            <!-- Buscador de libros -->
            <input type="text" id="searchInput" placeholder="Nombre, autor o género" oninput="filterBooks()" />

            <!-- Lista de Libros -->
            <table id="bookTable">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Autor</th>
                        <th>Género</th>
                        <th>Estatus</th>
                        <th>PDF</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!-- iframe para mostrar el PDF -->
            <div id="pdfViewer" style="display: none; margin-top: 20px;">
                <iframe id="pdfFrame" width="100%" height="600px"></iframe>
            </div>
        </div>
    </div>

    <script src="/public/js/alumno.js"></script>
</body>
</html>